section.section.dnn-hr3.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.block-title.text-center
			h1 Vị trí tuyển dụng
		table.table.table-hover.table-striped
			thead
				tr
					th.text-center(scope='col') STT
					th.text-center(scope='col') Vị trí ứng tuyển
					th.text-center(scope='col') Số lượng
					th.text-center(scope='col') Khu vực
					th.text-center(scope='col') Thời hạn
			tbody
				tr
					th.text-center(scope='row') 1
					td
						a(href="chi-tiet-tuyen-dung.html") Nhân Viên Kỹ Thuật dịch vụ
					td.text-center 01
					td.text-center TH.HCM
					td.text-center 05/05/2020
				tr
					th.text-center(scope='row') 2
					td
						a(href="chi-tiet-tuyen-dung.html") Nhân viên thu mua
					td.text-center 01
					td.text-center TH.HCM
					td.text-center 05/05/2020
				tr
					th.text-center(scope='row') 3
					td 
						a(href="chi-tiet-tuyen-dung.html") Trưởng phòng marketing
					td.text-center 01
					td.text-center TH.HCM
					td.text-center 05/05/2020
				tr
					th.text-center(scope='row') 4
					td 
						a(href="chi-tiet-tuyen-dung.html") Kế toán viên
					td.text-center 01
					td.text-center TH.HCM
					td.text-center 05/05/2020
				tr
					th.text-center(scope='row') 5
					td
						a(href="chi-tiet-tuyen-dung.html") Lập trình viên
					td.text-center 01
					td.text-center TH.HCM
					td.text-center 05/05/2020
				tr
					th.text-center(scope='row') 6
					td
						a(href="chi-tiet-tuyen-dung.html") Hành chính văn phòng
					td.text-center 01
					td.text-center TH.HCM
					td.text-center 05/05/2020
				tr
					th.text-center(scope='row') 7
					td
						a(href="chi-tiet-tuyen-dung.html") Trưởng phòng kinh doanh
					td.text-center 01
					td.text-center TH.HCM
					td.text-center 05/05/2020
				tr
					th.text-center(scope='row') 8
					td
						a(href="chi-tiet-tuyen-dung.html") Nhân Viên  Kỹ Thuật dịch vụ
					td.text-center 01
					td.text-center TH.HCM
					td.text-center 05/05/2020
				tr
					th.text-center(scope='row') 9
					td
						a(href="chi-tiet-tuyen-dung.html") Nhân viên thu mua
					td.text-center 01
					td.text-center TH.HCM
					td.text-center 05/05/2020
				tr
					th.text-center(scope='row') 10
					td
						a(href="chi-tiet-tuyen-dung.html") Trưởng phòng marketing
					td.text-center 01
					td.text-center TH.HCM
					td.text-center 05/05/2020
		.pages
			.modulepager
				ul.pagination
					li.active
						a(href="#") 1
					li
						a(href="#") 2
					li
						a(href="#") 3

