section.section.dnn-hr1.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.block-title.text-uppercase.text-center
			h1 tuyển dụng
		.dnn-hr1__desc(setBackground="./assets/images/tuyen-dung/tuyen-dung-1.png")
			p Công Ty xây dựng một chính sách nhân sự ưu việt, những chế độ phúc lợi đặc biệt nhằm thu hút và gìn giữ đội ngũ nhân sự chuyên nghiệp, năng động, sáng tạo, nhiệt huyết, có chuyên môn giỏi để cùng đưa Công Ty trở thành doanh nghiệp sản xuẩt chất lượng quốc tế số 1 Việt Nam.