section.section.dnn-hr2.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.row
			.col-xl-6.col-md-6.dnn-hr2__left
				.dnn-hr2__left__img
					img(src="./assets/images/tuyen-dung/tuyen-dung-2.png", alt="")
			.col-xl-6.col-md-6.dnn-hr2__right
				.block-title
					h1 Môi trường làm việc
				.dnn-hr2__right__content
					.dnn-hr2__right__content__desc
						p Gia nhập Đúc Nam Ninh, bạn được làm việc trong môi trường năng động, chuyên nghiệp cùng đội ngũ nhân viên trẻ, nhiệt huyết và am hiểu thị hiếu khách hàng.

						p Bên cạnh đó, Công Ty luôn tạo ra môi trường làm việc thân thiện, chia sẻ và teamwork, với bầu không khí làm việc thoải mái, với nhiều cơ hội để bạn phát huy hết khả năng cá nhân và phát triển cùng công ty.