section.dnn-field2.section
	.container
		.block-title
			h1 Lĩnh vực hoạt động
		.dnn-field2__content
			.row
				<!-- Gia công cơ khí -->
				.col-xl-6.col-md-6
					.dnn-field2__content__img
						img(src="./assets/images/field/field-1.png", alt="")
				.col-xl-6.col-md-6
					.dnn-field2__content__desc
						h2 Gia công cơ khí
						p Lorem ipsum dolor sit amet consectetur adipiscing elit. aliquam tincidunt elementum sem non luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit. aliquam tincidunt elementum sem non luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit. aliquam tincidunt elementum sem non luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit. aliquam tincidunt elementum sem non luctus
		.dnn-field2__content
			.row
				<!-- Đúc kim loại -->
				.col-xl-6.col-md-6
					.dnn-field2__content__desc
						h2 Đúc kim loại
						p Đúc kim loại đặc biệt là đúc gang xám và gang cầu và các sản phẩm Đúc với tỉ lệ hoàn hảo. Có thể cạnh tranh về giá so với Trung Quốc. Các sản phẩm đều đang được xuất khẩu sang những thị trường khó tính như Nhật và Hàn Quốc. Công ty cũng đang làm việc với các công ty tập đoàn tới từ Châu Âu.
				.col-xl-6.col-md-6
					.dnn-field2__content__img
						img(src="./assets/images/field/field-2.png", alt="")
		.dnn-field2__content
			.row
				<!-- Thiết kế, gia công khuôn mẫu -->
				.col-xl-6.col-md-6
					.dnn-field2__content__img
						img(src="./assets/images/field/field-3.png", alt="")
				.col-xl-6.col-md-6
					.dnn-field2__content__desc
						h2 Thiết kế, gia công khuôn mẫu
						p Lorem ipsum dolor sit amet consectetur adipiscing elit. aliquam tincidunt elementum sem non luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit. aliquam tincidunt elementum sem non luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit. aliquam tincidunt elementum sem non luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit. aliquam tincidunt elementum sem non luctus
		.dnn-field2__content
			.row
				<!-- Rèn, dập, cán kim loại -->
				.col-xl-6.col-md-6
					.dnn-field2__content__desc
						h2 Rèn, dập, cán kim loại
						p Đúc kim loại đặc biệt là đúc gang xám và gang cầu và các sản phẩm Đúc với tỉ lệ hoàn hảo. Có thể cạnh tranh về giá so với Trung Quốc. Các sản phẩm đều đang được xuất khẩu sang những thị trường khó tính như Nhật và Hàn Quốc. Công ty cũng đang làm việc với các công ty tập đoàn tới từ Châu Âu.
				.col-xl-6.col-md-6
					.dnn-field2__content__img
						img(src="./assets/images/field/field-4.png", alt="")
		.dnn-field2__content
			.row
				<!-- Sản xuất lõi khuôn đúc  -->
				.col-xl-6.col-md-6
					.dnn-field2__content__img
						img(src="./assets/images/field/field-5.png", alt="")
				.col-xl-6.col-md-6
					.dnn-field2__content__desc
						h2 Sản xuất lõi khuôn đúc 
						p Lorem ipsum dolor sit amet consectetur adipiscing elit. aliquam tincidunt elementum sem non luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit. aliquam tincidunt elementum sem non luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit. aliquam tincidunt elementum sem non luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit. aliquam tincidunt elementum sem non luctus