footer
	.footer-block
		.container
			.row
				.col-xl-4.col-md-6.col-sm-6.col-12.footer-card
					.card__title
						p công ty tnhh đúc nam ninh
					.card__body
						ul
							li
								span.material-icons location_on
								span Địa chỉ: Tổ 10, Phường Mỏ Chè, Thành phố Sông Công, Tỉnh Thái Nguyên
							li
								span.material-icons mail
								span Email: info@ducnamninh.com
							li
								span.material-icons local_phone
								span Điện thoại: 0901 234 567
								
				.col-xl-4.col-md-6.col-sm-6.col-12.footer-card.d-flex.justify-content-center
					div
						.card__title
							p đúc nam ninh
						.card__body.card__body__ul-before
							ul
								li
									a(href="gioi-thieu.html") Giới thiệu
								li
									a(href="san-pham.html") Lĩnh vực hoạt động
								li
									a(href="dich-vu.html") Sản phẩm
								li
									a(href="khoa-hoc-IT.html") Dự án
								li
									a(href="shopping.html") Đối tác - Khách hàng
								li
									a(href="tin-tuc.html") Tuyển dụng
								li
									a(href="tuyen-dung.html") Tin tức
								li
									a(href="lien-he.html") Liên hệ
				.col-xl-4.col-md-6.col-sm-6.col-12.footer-card
					.card__title
						p đăng ký nhận bản tin
					.card__body
						p Để lại địa chỉ email để nhận thông tin mới nhất từ chúng tôi
					.subscribe
						.subscribefrm
							input.subscribeemail(type="text" placeholder="Nhập địa chỉ email..." name="email")
							button.subscribebutton
								em.ri-arrow-right-line
					.card__media
						ul
							li
								a(href="")
									i.fa.fa-twitter
							li
								a(href="")
									i.fa.fa-facebook-f
							li
								a(href="")
									i.fa.fa-linkedin
							li
								a(href="")
									i.fa.fa-youtube-play
							li
								a(href="")
									i.fa.fa-instagram
			.copyright
				.row
					.col-md-6.d-flex.align-items-center
						p Copyright © 2020 Đúc Nam Ninh. Thiết kế website bởi Cánh Cam.
					.col-md-6
						ul
							li
								a(href="") Điều khoản sử dụng
							li
								a(href="") Chính sách bảo mật
							li
								a(href="") Sơ đồ trang web