header
	.container
		.header-container
			<!-- Nút điều khiển menu mobile -->
			.header-container__toggle-menu.mobile
			<!-- Logo Đúc Nam Ninh -->
			.header-container__logo
				a(href="index.html")
					img(src="./assets/logo.png")
			<!-- Main menu -->
			.header-container__main-nav
				ul.nav-list
					li.nav-item
						a.nav-link(href="index.html")
							span.material-icons home
					li.nav-item
						a.nav-link(href="gioi-thieu.html") Giới thiệu
					li.nav-item
						a.nav-link(href="#") Lĩnh vực hoạt động
					li.nav-item
						a.nav-link(href="tin-tuc.html") Sản phẩm
					li.nav-item
						a.nav-link(href="lien-he.html") Dự án
					li.nav-item
						a.nav-link(href="lien-he.html") Đối tác khách hàng
					li.nav-item
						a.nav-link(href="lien-he.html") Tin tức
					li.nav-item
						a.nav-link(href="lien-he.html") Tuyển dụng
					li.nav-item
						a.nav-link(href="lien-he.html") Liên hệ
					li.nav-item.dropdown
						button#dropdownMenuButton.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							a(href="")
								img(src="./assets/icons/vn.gif", alt="") 
						.dropdown-menu(aria-labelledby='dropdownMenuButton')
							a.dropdown-item(href='#')
								img(src="./assets/icons/en.gif", alt="")
							a.dropdown-item(href="")
								img(src="./assets/icons/vn.gif", alt="")
