#block__tool
	ul.main-tool
		li.main-tool__item
			a(href="")
				em.fa.fa-comments
				p Tư vấn
		li.main-tool__item
			a(href="")
				em.fa.fa-phone
				p Hotline
			.submenu
				.submenu__item
					a(href="")
						em.fa.fa-map-marker
				.submenu__item
					a(href="")
						em.fa.fa-envelope-open
				.submenu__item
					a(href="")
						em.fa.fa-phone
		li.main-tool__item
			a(href="")
				em.fa.fa-question-circle
				p Hỏi đáp
		li.main-tool__item
			a(href="")
				em.fa.fa-map
				p Bản đồ

