.dnn-project-detail1{
	padding-top: 50px;
	padding-bottom: 0;
	.block-title{
		margin-bottom: 25px;
		h1{
			text-transform: uppercase;
			text-align: center;
		}
	}
	&__content{
		width: 100%;
		&__description{
			p{
				padding-bottom: 30px;
				font-size: 16px;
				font-family: "Montserrat";
				color: rgb(51, 51, 51);
				line-height: 1.5;
				@media screen and ( max-width: 1024px){
					padding-bottom: 15px;
				}
			}
		}
		&__slide{
			width: 100%;
			margin-bottom: 20px;
			overflow: hidden;
			&__gallery-top{
				width: 100%;
				&__img{
					width: 100%;
					height: 700px;
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					@media screen and ( max-width: 991px){
						height: 553px;
					}
					@media screen and ( max-width: 375px){
						height: 200px;
					}
				}
			}
		}
		&__thumbs{
			position: relative;
			padding-bottom: 30px;
			border-bottom: 1px solid $main-color;
			&__gallery-thumbs{
				overflow: hidden;
				width: 100%;
				.swiper-slide{
					border: solid 1px transparent;
					&:hover{
						border: solid 1px $main-color;
					}
				}
				&__img{
					height: 150px;
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					@media screen and ( max-width: 991px){
						height: 90px;
					}
					@media screen and ( max-width: 375px){
						height: 45px;
					}
				}
			}
			.swiper-button-next{
				width: 35px;
				height: 35px;
				border-radius: 50%;
				background-color: rgb(255, 255, 255);
				box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
				background-image: none;
				right: -20px;
				display: flex;
				align-items: center;
				justify-content: center;
				&::after{
					content: 'arrow_forward_ios';
					font-family: 'Material Icons';
					font-size: 18px;
					font-weight: 400;
					color: $color-main;
				}
				@media screen and ( max-width: 991px){
					right: -10px;
					top: 90%;
					background: transparent;
					box-shadow: none;
					border: none;
				}
			}
			.swiper-button-prev{
				width: 35px;
				height: 35px;
				border-radius: 50%;
				background-color: rgb(255, 255, 255);
				box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
				background-image: none;
				left: -20px;
				display: flex;
				align-items: center;
				justify-content: center;
				&::after{
					content: 'arrow_back_ios';
					font-family: 'Material Icons';
					font-size: 18px;
					font-weight: 400;
					color: $color-main;
				}
				@media screen and ( max-width: 991px){
					left: -10px;
					top: 90%;
					background: transparent;
					box-shadow: none;
					border: none;
				}
			}
		}
	}
}