section.dnn-about2.section
	.container
		.row
			.col-xl-6.col-md-6.dnn-about2__left
				.dnn-about2__left__img
					img(src="./assets/images/about/ab-1.png", alt="")
			.col-xl-6.col-md-6.dnn-about2__right
				.dnn-about2__right__content
					.block-title
						h1 Về chúng tôi
					.dnn-about2__right__content__desc
						p Công ty TNHH Đúc Nam Ninh là một doanh nghiệp hoạt động trong lĩnh vực luyện kim chuyên Đúc các sản phẩm bằng gang, bằng thép, các sản phẩm chi tiết máy, khuôn đúc các loại,.. Với đội ngũ kỹ sư ngành luyện kim giỏi cùng với các kỹ thuật viên lành nghề, chúng tôi đã đáp ứng được chất lượng tốt nhất với những sản phẩm khó nhất và làm hài lòng những khách hàng khó tính nhất.
						p “Chất lượng sản phẩm” chính là tôn chỉ và tiêu chí để Công ty TNHH Đúc Nam Ninh phát triển. Trong thời gian sắp tới với nhiều thách thức và cơ hội, Công ty TNHH Đúc Nam Ninh sẽ không ngừng nâng cao chất lượng phục vụ khách hàng, nâng cao năng lực cạnh tranh, cải tiến qui trình quản lý theo phương châm “Không ngừng học hỏi, sáng tạo”.
						p Đúc Nam Ninh luôn trân trọng giá trị nền tảng cho sự phát triển, đó là cơ hội được hợp tác với Quý khách hàng. Và sẽ không có bất kỳ khó khăn nào có thể ngăn cản chúng tôi mang lại những sản phẩm chất lượng số một cho quí khách hàng. Chúng tôi tin tưởng rằng với tập thể đoàn kết, vững mạnh và sự ủng hộ của Quý khách hàng, chúng tôi chắc chắn sẽ gặt hái được nhiều thành công hơn nữa trong tương lai.