section.dnn-about4.section
	.container
		.row
			.col-xl-6.col-md-6.dnn-about4__left
				.dnn-about4__left__content
					.block-title
						h1 Cơ sở vật chất
					.dnn-about4__left__content__desc
						p Các sản phẩm của Đúc Nam Ninh được khách hàng đánh giá cao cả về mẫu mã và đặc biệt là chất lượng. Nhằm đáp ứng kịp thời và đầy đủ các đơn hàng của khách hàng, cuối năm 2017 đến đầu năm 2019 Công ty đã đầu tư 03 máy đúc tự động và 01 lò điện trung tần 1.500 kg, nâng tổng công suất sản xuất sản phẩm thành phẩm lên đến 600tấn/ 1 tháng. Cùng sứ mệnh mở rộng sản xuất để vươn ra thị trường thế giới, chúng tôi đang mở rộng qui mô sản xuất ra khu công nghiệp với diện tích 23.000m2, dự kiến trong thời gian tới sẽ khởi công.
			.col-xl-6.col-md-6.dnn-about4__right
				.dnn-home2__right__img
					img(src="./assets/images/about/ab-3.png", alt="")