section.dnn-about6.section
	.container
		.dnn-about6__content
			.block-title
				h1 Trình độ nhân sự
			.dnn-about6__content__list
				ul
					li
						h2 0
							span.counter(data-count="6")
						p Kỹ sư
					li
						h2.counter(data-count="17") 0
						p Cao đẳng
					li
						h2 0
							span.counter(data-count="5") 0
						p Cử nhân đại học
					li
						h2.counter(data-count="172") 0
						p Công nhân lành nghề