<!-- Thông điệp -->
section.dnn-about5.section
	.container
		.swiper-container.dnn-about5__slide
			.swiper-wrapper
				.swiper-slide
					.row
						.col-md-6
							.dnn-about5__slide__left
								a(href="")
									img(src="./assets/images/about/ab-4.png", alt="")
						.col-md-6
							.dnn-about5__slide__right
								.block-title
									h1 Máy móc thiết bị
								.dnn-about5__slide__right__content
									a(href="") Máy in Canon
									ul
										li
											p Sử dụng để in ấn tài liệu và in gia công lên sản phẩm
										li
											p Số lượng: 4 máy
										li
											p Xuất xứ: Trung Quốc
			.swiper-button-next
			.swiper-button-prev

