section.dnn-about7.section
	.container
		.dnn-about7__content
			.block-title
				h1 Hình ảnh sản xuất
			.row
				-for(i=6; i<9; i++)
					.col-xl-4.col-md-6
						.dnn-about7__content__img
							a(href="./assets/images/about/ab-"+i+".png", data-fancybox="image")
								img(src="./assets/images/about/ab-"+i+".png", alt="")
				.col-xl-6.col-md-12
					.dnn-about7__content__img.bottom.mb-0
						a(href="./assets/images/about/ab-9-big.png", data-fancybox="image")
							img(src="./assets/images/about/ab-9.png", alt="")
				.col-xl-6.col-md-12
					.dnn-about7__content__img.bottom.mb-0
						a(href="./assets/images/about/ab-10-big.png", data-fancybox="image")
							img(src="./assets/images/about/ab-10.png", alt="")