section.section.dnn-hr-detail.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.row
			.col-lg-9.col-md-12.col-12.dnn-hr-detail__left
				.block-title
					h1 Nhân viên kỹ thuật dịch vụ
				.dnn-hr-detail__left__timeline
					.time
						span.material-icons event_note
						| 05.05.2020
					.icon-social
						ul
							li
								a(href="")
									i.fa.fa-twitter
							li
								a(href="")
									i.fa.fa-facebook
				.dnn-hr-detail__left__content
					table.table.table-borderless
						tbody
							tr
								td
									i.ri-coins-fill
									span Thu nhập
									p 5.000.000 - 8.000.000 đồng / tháng (thưởng KPI, phụ cấp + thưởng doanh số hàng tháng)
								td
									i.ri-plane-line
									span Du lịch
									p Nghỉ mát hàng năm, khám sức khoẻ định kì

							tr
								td
									i.ri-award-fill
									span Thưởng
									p Thưởng các ngày lễ, tết, kỷ niệm thành lập Công ty
								td
									i.ri-user-add-fill
									span Tăng lương
									p Xem xét tăng lương định kỳ hàng năm
							tr
								td
									i.ri-gift-2-line
									span Quà tặng
									p Quà tặng các dịp sinh nhật, tết trung thu, lễ giáng sinh, thăm ốm, hiếu hỉ...
								td
									i.ri-briefcase-2-fill
									span Đào tạo
									p Được đào tạo về kỹ năng giao tiếp, kỹ năng bán hàng
							tr
								td 
									i.ri-first-aid-kit-fill
									span Chế độ
									p Tham gia BHXH, BHYT, BHTN, BH tai nạn 24 / 24
								td
									i.ri-footprint-fill
									span Cơ hội thăng tiến
									p Có cơ hội thăng tiến, môi trường làm việc sang trọng, lịch sự, đồng nghiệp thân thiện 
				.dnn-hr-detail__left__content__list
					p Mô tả công việc
					ul
						li
							p Hỗ trợ khách hàng mua hàng, tăng doanh thu bán hàng thông qua giới thiệu tư vấn sản phẩm, giới thiệu các chương trình ưu đãi. Cung cấp dịch vụ bán hàng chuyên nghiệp đáp ứng tốt nhu cầu của khách hàng.
						li
							p Luôn cập nhật kiến thức về sản phẩm để giới thiệu và tư vấn khách hàng mua hàng, hướng dẫn khách hàng về sử dụng và bảo quản sản phẩm.
						li
							p Thực hiện bán hàng theo các mục tiêu của các CTKM và CSKH, thúc đẩy doanh số các nhóm hàng, khách hàng mục tiêu.
						li
							p Thực hiện việc giải quyết khiếu nại và các thắc mắc của khách hàng.
						li
							p Phát triển và chăm sóc khách hàng thân thiết trước và sau mua hàng nhằm gia tăng gắn kết khách hàng với cty
						li
							p Hoàn thành chỉ tiêu kinh doanh của cá nhân và hỗ trợ đồng đội trong các hoạt động kinh doanh để đảm bảo hoàn thành các mục tiêu chung
						li
							p Tuân thủ quy trình xuất nhập kho, giao nhận. Đảm bảo tồn kho hàng hóa đúng, đủ.
						li
							p Tuân thủ quy trình vệ sinh, vận chuyển, bảo quản hàng hóa đúng cách.
						li
							p Kiểm tra và đảm bảo hành hóa đủ tiêu chuẩn về chất lượng và bao bì, tem nhãn trước khi bán và xuất nhập kho nội bộ. 
						li
							p Kiểm kê hàng hóa định kỳ theo định kỳ hàng ngày / tháng / quý đúng theo quy định.
				.dnn-hr-detail__left__content__list
					p Yêu cầu công việc
					ul
						li
							p Nam / nữ từ 18-28 tuổi. Ngoại hình dễ nhìn, giọng nói dễ nghe (Hạn chế sinh viên, vướng bận lịch học)
						li
							p Tối thiểu: Tốt nghiệp THPT. Ưu tiên tốt nghiệp TH, CĐ các ngành kinh doanh, cơ khí
						li
							p Ưu tiên có kiến thức về cơ khí khuôn đúc
						li
							p Giao tiếp với khách hàng hiệu quả, tư vấn và thuyết phục tốt. 
						li
							p Nắm bắt nhanh kiến thức về hàng hoá cty
						li
							p Ưu tiên biết giao tiếp tiếng Anh.
			.col-lg-3.col-md-12.col-12.dnn-hr-detail__right
				.dnn-hr-detail__right__btn
					a.btn.btn__apply(href="") ứng tuyển
					a.btn.btn__down(href="") tải form ứng tuyển
				.dnn-hr-detail__right__content
					.block-title
						h1 Vị trí khác
					ul.dnn-hr-detail__right__content__list
						-for(i=1; i<6; i++)
							li.dnn-hr-detail__right__content__list__item
								a(href="chi-tiet-tuyen-dung.html")
									.date 
										span.material-icons event_note
										|10.02.2020
									h2 Chuyên viên kế toán thuế
