@keyframes wiggle {
	0% {
		transform: rotate(-7deg);
	}

	100% {
		transform: rotate(7deg);
	}
}

@keyframes gradientBG {
	0% {
		background-position: 0% 0%;
	}

	50% {
		background-position: 100% 0%;
	}

	100% {
		background-position: 0% 0%;
	}
}
.tt-u{
	text-transform: uppercase;
}
.container{
	max-width: 1230px !important;
}
.color-title{
	color: #333333;
}
.color-main{
	color: #ff0000;
}
.ta-c{
	text-align: center;
}