section.section.dnn-partner2
	.container
		.block-title
			h1 đối tác khách hàng
		.dnn-partner2__list
			-for(i=1; i<11; i++)
				.dnn-partner2__list__item
					.dnn-partner2__list__item__img
						img(src="./assets/images/partner/partner-"+i+".png", alt="")
		.pages
			.modulepager
				ul.pagination
					li.active
						a(href="#") 1
					li
						a(href="#") 2
					li
						a(href="#") 3