section.section.dnn-detail2.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.dnn-detail2__desciption
			.tab-panels
				ul.tabs
					li.active(rel='panel-1') Thông tin sản phẩm
					li(rel='panel-2') Thông số kỹ thuật
					li(rel='panel-3') Đánh giá
				#panel-1.panel.active
					.article
						p Bi nghiền được sử dụng trong lĩnh vực khai thác mỏ để nghiền quặng sắt, quặng Mangan, cát thạch anh. Trong sản xuất gạch silica để nghiền hỗn hợp cát vôi, trong công nghiệp xi măng để nghiền Clinker và bùn. Trong các nhà máy nghiền than. Trong công nghiệp gốm nguyên liệu sản xuất các loại ngói. Trong sơn mài nghiền mầu và phụ gia. Trong công nghiệp thực phẩm xay cà phê, ca cao và các loại ngũ cốc.
						p Bi nghiền được sử dụng trong lĩnh vực khai thác mỏ để nghiền quặng sắt, quặng Mangan, cát thạch anh. Trong sản xuất gạch silica để nghiền hỗn hợp cát vôi, trong công nghiệp xi măng để nghiền Clinker và bùn. Trong các nhà máy nghiền than. Trong công nghiệp gốm nguyên liệu sản xuất các loại ngói. Trong sơn mài nghiền mầu và phụ gia. Trong công nghiệp thực phẩm xay cà phê, ca cao và các loại ngũ cốc.
						p Bi nghiền được sử dụng trong lĩnh vực khai thác mỏ để nghiền quặng sắt, quặng Mangan, cát thạch anh. Trong sản xuất gạch silica để nghiền hỗn hợp cát vôi, trong công nghiệp xi măng để nghiền Clinker và bùn. Trong các nhà máy nghiền than. Trong công nghiệp gốm nguyên liệu sản xuất các loại ngói. Trong sơn mài nghiền mầu và phụ gia. Trong công nghiệp thực phẩm xay cà phê, ca cao và các loại ngũ cốc.
				#panel-2.panel
				#panel-3.panel
				.button-read
					#toggle Xem thêm
						em.ri-arrow-down-line