section.section.dnn-detail2.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.dnn-detail2__desciption
			.tab-panels
				ul.tabs
					li(rel='panel-1') Thông tin sản phẩm
					li(rel='panel-2') Thông số kỹ thuật
					li(rel='panel-3') Đánh giá
				#panel-1.panel.active
					.article
						p Bi nghiền được sử dụng trong lĩnh vực khai thác mỏ để nghiền quặng sắt, quặng Mangan, cát thạch anh. Trong sản xuất gạch silica để nghiền hỗn hợp cát vôi, trong công nghiệp xi măng để nghiền Clinker và bùn. Trong các nhà máy nghiền than. Trong công nghiệp gốm nguyên liệu sản xuất các loại ngói. Trong sơn mài nghiền mầu và phụ gia. Trong công nghiệp thực phẩm xay cà phê, ca cao và các loại ngũ cốc.
						p Công ty Đúc Nam Ninh đúc tất cả các sản phẩm về bi: bi nghiền xi măng, bi nghiền quặng sắt, đồng, chì, kẽm…và các loại quặng kim loại khác. Bi nghiền chúng tôi đúc đủ các loại kích cỡ từ Ø0,5mm - Ø150mm, bi nghiền chia làm 2 loại bi cầu hình tròn và bi đạn hình trụ, bi nghiền được đúc từ các loại thành phần hợp kim như Mn, Si, Cr, Fe…., trong đó thành phần chủ đạo trong bi là crom có thành phần từ 11 đến 29% tùy vào từng loại quặng hoặc vật liệu nghiền mà hàm lượng Crom và hợp kim khác cao hay thấp cùng với độ cứng của bi được nhiệt
						p Bi nghiền được sử dụng trong lĩnh vực khai thác mỏ để nghiền quặng sắt, quặng Mangan, cát thạch anh. Trong sản xuất gạch silica để nghiền hỗn hợp cát vôi, trong công nghiệp xi măng để nghiền Clinker và bùn. Trong các nhà máy nghiền than. Trong công nghiệp gốm nguyên liệu sản xuất các loại ngói. Trong sơn mài nghiền mầu và phụ gia. Trong công nghiệp thực phẩm xay cà phê, ca cao và các loại ngũ cốc.
						p Công ty Đúc Nam Ninh đúc tất cả các sản phẩm về bi: bi nghiền xi măng, bi nghiền quặng sắt, đồng, chì, kẽm…và các loại quặng kim loại khác. Bi nghiền chúng tôi đúc đủ các loại kích cỡ từ Ø0,5mm - Ø150mm, bi nghiền chia làm 2 loại bi cầu hình tròn và bi đạn hình trụ, bi nghiền được đúc từ các loại thành phần hợp kim như Mn, Si, Cr, Fe…., trong đó thành phần chủ đạo trong bi là crom có thành phần từ 11 đến 29% tùy vào từng loại quặng hoặc vật liệu nghiền mà hàm lượng Crom và hợp kim khác cao hay thấp cùng với độ cứng của bi được nhiệt
					.button-read
						#toggle Xem thêm
						em.ri-arrow-down-line
				#panel-2.panel
				#panel-3.panel
					