section.section.dnn-detail.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.block-title
			h1 Sản phẩm cùng loại
		.dnn-detail__list
			.swiper-container.dnn-detail__list__slide
				.swiper-wrapper
					-for(i=7; i<12; i++)
						.swiper-slide
							a(href="")
								.dnn-detail__list__slide__img
										img(src="./assets/images/product/detail-"+i+".png" alt="")
								.dnn-detail__list__slide__name
									p Sản phẩm công trình số 1
									em.ri-arrow-right-line
			.swiper-button-next
			.swiper-button-prev