section.section.dnn-news-detail.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.row
			.col-md-9
				.block-title
					h1 Ưu và nhược điểm công nghệ đúc trong khuôn kim loại
				.dnn-news-detail__timeline
					.dnn-news-detail__timeline__time
						span.material-icons event_note
						.date 01.04.2020
					.dnn-news-detail__timeline__icon-social
						ul
							li
								a(href="")
									i.fa.fa-twitter
							li
								a(href="")
									i.fa.fa-facebook
				.dnn-news-detail__content
					p Đúc trong khuôn kim loại là thuật ngữ chỉ một phương pháp sản xuất vật đúc bằng cách rót kim loại lỏng vào khuôn kim loại. Vật đúc đông đặc dưới tác dụng của trọng trường mà không chịu bất kỳ tác động nào khác. Đây là phương pháp rất phổ biến hiện nay do nó có các đặc điểm sau đây:
					strong Ưu điểm:
					ul
						li Phương pháp đúc trong khuôn kim loại này giảm được chi phí vì khuôn đúc được sử dụng nhiều lần
						li Độ sạch và độ chính xác được nâng cao đáng kể. Điều này sẽ làm giảm khối lượng gia công cơ khí
						li Nâng cao độ bền cơ học của vật đúc, đặc biệt là độ bền ở lớp bề mặt tiếp giáp với khuôn kim loại
						li Nâng cao sản lượng hàng năm do giảm được kích thước đậu ngót và phế phẩm đúc
						li Nâng cao năng suất lao động
						li Tiết kiệm diện tích nhà xưởng do không cần chế tạo hỗn hợp làm khuôn và quá trình làm khuôn
						li Giảm giá thành sản phẩm
						li Dễ cơ khí và tự động hoá, điều kiện vệ sinh lao động tốt.
					img(src="./assets/images/news/news-detail-big.png", alt="")
					strong Nhược điểm:
					ul
						li 
							p Để có thể đúc trong khuôn đúc kim loại thì việc chế tạo khuôn rất phức tạp và đắt tiền; độ bền khuôn hạn chế khi đúc thép, khó đúc những vật thành mỏng và hình dáng phức tạp; vật đúc có ứng suất lớn do khuôn kim loại cản co mạnh; vật đúc gang dễ bị biến trắng; quy trình đúc phải chặt chẽ.
						li
							p Tuy có những đặc điểm trên nhưng công nghệ đúc trong khuôn kim loại vẫn được sử dụng rộng rãi để đúc gang, hợp kim và kim loại màu trong sản xuất hàng loạt và loạt lớn bởi vì có những chi tiết không thể chế tạo được nếu không sử dụng khuôn kim loại, ví dụ các tấm lớn thân máy bay, các chi tiết nhỏ nhưng đòi hỏi độ bền cao trong động cơ.
			.col-md-3
				.dnn-news-detail__other
					.block-title
						h1 Tin tức khác
					ul.dnn-news-detail__other__list
						-for(i=1; i<6; i++)
							li.dnn-news-detail__other__list__item
								a(href="chi-tiet-tin-tuc.html")
									.dnn-news-detail__other__list__item__img
										img(src="./assets/images/news/news-"+i+".png", alt="")
									.dnn-news-detail__other__list__item__desc
										.date 
											span.material-icons event_note
											|10.02.2020
										p Các loại khuôn đúc kim loại.