section.dnn-home-banner#page-banner
	.swiper-container.dnn-home-banner__slide
		.swiper-wrapper
			.swiper-slide
				a.swiper-inner(href="#" setBackground="./assets/images/banner/banner-home-1.png")
					img(src="./assets/images/banner/banner-home-1.png", alt="")
				.icon
					a(href="https://www.youtube.com/watch?v=og_1u8RFmuI", data-fancybox)
						img(src="./assets/icons/play-button.png", alt="")
				.content
					p Trở thành nhà sản xuất các sản phẩm 
					p đúc hàng đầu tại các tỉnh
					p thành phía Bắc
			.swiper-slide
				a.swiper-inner(href="#" setBackground="./assets/images/banner/banner-home-2.png")
					img(src="./assets/images/banner/banner-home-2.png", alt="")
				.content
					p Xuất khẩu sang những thị trường khó tính như 
					p Nhật và Hàn Quốc và các nước Châu Âu
			.swiper-slide
				a.swiper-inner(href="#" setBackground="./assets/images/banner/banner-home-3.png")
					img(src="./assets/images/banner/banner-home-3.png", alt="")
				.content
					p Đúc Nam Ninh lấy tín nhiệm của khách hàng làm
					p mục đích để hoạt động và phát triển
		.down-page-icon
			a.crolldown(href="#dnn-home1")
				img(src="./assets/icons/download.png", alt="")
		.swiper-button-prev
		.swiper-button-next