section.dnn-home-banner
	.swiper-container.dnn-home-banner__slide
		.swiper-wrapper
			.swiper-slide
				a.swiper-inner(href="#" setBackground="./assets/images/banner/banner-home-1.png")
					img(src="./assets/images/banner/banner-home-1.png", alt="")
			.swiper-slide
				a.swiper-inner(href="#" setBackground="./assets/images/banner/banner-home-2.png")
					img(src="./assets/images/banner/banner-home-2.png", alt="")
			.swiper-slide
				a.swiper-inner(href="#" setBackground="./assets/images/banner/banner-home-3.png")
					img(src="./assets/images/banner/banner-home-3.png", alt="")
		.swiper-button-prev
		.swiper-button-next