footer{
	background-image: url('../assets/images/banner/footer.png');
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: auto;
	width: 100%;
	.footer-block{
		position: relative;
		padding-top: 60px;
		.footer-card{
			width: 100%;
			padding-bottom: 40px;
			&:nth-child(2){
				@media screen and ( max-width: 575px){
					display: inline-block !important;
				}
			}
			.card__title{
				position: relative;
				margin-bottom: 15px;
				padding-left: 10px;
				&::before{
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 3px;
					background-color: $main-color;
					content: '';
				}
				p{
					font-weight: 500;
					color: #fff;
					font-size: 18px;
					font-family: "Montserrat";
					line-height: 22px;
					text-transform: uppercase;
				}
				@media screen and ( max-width: 768px){
					margin-bottom: 10px;
					p{
						font-size: 12px;
					}
				}
			}
			.card__body{
				p{
					font-size: 15px;
					font-family: "Montserrat";
					color: rgba(255, 255, 255, 0.702);
					@media screen and ( max-width: 768px){
						font-size: 11px !important;
					}
				}
				ul{
					padding: 0;
					list-style: none;
					li{
						display: flex;
						align-items: center;
						margin-bottom: .5rem;
						&:first-child{
							align-items: flex-start;
						}
						.material-icons{
							font-size: 16px;
							font-family: "Material Icons";
							color: rgba(255, 255, 255, 0.702);
							margin-right: 15px;
						}
						span{
							font-size: 15px;
							line-height: 30px;
							font-weight: 400;
							font-family: "Montserrat";
							color: rgba(255, 255, 255, 0.702);
						}
						a{
							font-size: 15px;
							font-family: "Montserrat";
							color: rgba(255, 255, 255, 0.702);
							text-decoration: none;
						}
						@media screen and ( max-width: 768px){
							span{
								font-size: 11px !important;
								line-height: unset;
							}
								.material-icons{
									margin-right: 7px;
							}
							a{
								font-size: 11px;
							}
						}
					}
				}
				&__ul-before{
					ul{
						li{
							padding-left: 15px;
							position: relative;
							&::before{
								content: 'chevron_right';
								font-family: 'Material Icons';
								position: absolute;
								left: 0;
								top: 0;
								color: $main-color;
								font-size: 15px;
							}
						}
					}
				}
			}
			.subscribe{
				.subscribefrm{
					position: relative;
					padding: 30px 0;
					display: flex;
					align-items: center;
					.subscribeemail{
						outline: none;
						border-radius: 0;
						width: 285px;
						height: 50px;
						background-color: $color-while;
						border: none;
						color: $color-gray;
						padding-left: 15px;
						&::placeholder{
							font-size: 14px;
							font-family: "Montserrat";
							color: rgb(102, 102, 102);
							line-height: 1.429;
						}
						@media screen and ( max-width: 575px){
							width: 100%;
						}
					}
					.subscribebutton{
						border-radius: 0;
						margin-left: 10px;
						color: #fff;
						padding: 5px;
						background-color: $main-color;
						width: 95px;
						height: 50px;
						border: none;
						outline: none;
						.ri-arrow-right-line{
							font-size: 30px;
						}
						@media screen and ( max-width: 768px){
							width: 40px;
							font-size: 11px !important;
						}
					}
				}
			}
			
			.card__media{
				width: 100%;
				ul{
					display: flex;
					align-items: center;
					padding: 0;
					list-style: none;
					li{
						min-width: 40px;
						min-height: 40px;
						border-radius: 50%;
						border: solid 1px #a9a9a9;
						margin-left: 30px;
						position: relative;
						display: flex;
						align-items: center;
						justify-content: center;
						a{
							.fa{
								font-size: 18px;
								color: $color-while;
								font-weight: 400;
								line-height: 20px;
							}
						}
						&:first-child{
							margin-left: 0;
						}
						&:last-child{
							padding-right: 0;
						}
						@media screen and ( max-width: 1024px){
							&:first-child{
								margin-left: 0;
							}
							margin-left: 15px;
						}
					}
					@media(max-width: 768px){
						justify-content: flex-start;
					}
				}
			}
			@media(max-width: 768.98px){
				margin-top: 0;
				padding-bottom: 20px;
			}
		}
		@media(max-width: 1024.98px){
			padding-top: 30px;
		}
	}
	.copyright{
		width: 100%;
		padding-top: 15px;
		padding-bottom: 30px;
		p{
			font-size: 12px;
			font-family: "Montserrat";
			color: rgba(255, 255, 255, 0.502);
			line-height: 2.5;
			@media screen and ( max-width: 768px){
				font-size: 11px !important;
			}
		}
		ul{
			display: flex;
			align-items: center;
			padding-left: 0;
			list-style: none;
			justify-content: flex-end;
			li{
				padding: 0 10px;
				position: relative;
				&:last-child{
					padding-right: 0;
					&::after{
						display: none;
					}
				}
				&::after{
					position: absolute;
					content: '';
					right: 0;
					top: 0;
					width: 1px;
					height: 100%;
					background-color: rgb(183, 183, 183);
				}
				a{
					font-size: 12px;
					font-family: "Montserrat";
					color: rgba(255, 255, 255, 0.502);
					line-height: 2;
					text-decoration: none;
				}
			}
		}
	}
}