section.section.dnn-project-detail2.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.block-title
			h1 quy mô dự án
		.dnn-project-detail2__table
			table
				tbody
					tr
						th(scope='row') Tổng diện tích đất
						td 36.3ha
					tr
						th(scope='row') Mật độ xây dựng
						td 43.76% bao gồm nhà liền kề, biệt thự và chung cư
					tr
						th(scope='row') Diện tích đất dành cho công trình công cộng
						td Diện tích 15.618m2
					tr
						th(scope='row') Dất công viên cây xanh
						td Diện tích 104.451m2
					tr
						th(scope='row') Diện tích hạ tầng giao thông
						td Diện tích 127.583m2
					tr
						th(scope='row') Các hạng mục khác
						td Diện tích 16.824m2
					tr
						th(scope='row') Dân số khu đô thị ước tính
						td Khoảng 9.044 người