section.section.dnn-project-detail4
	.container
		.block-title
			h1 dự án khác
		.dnn-project-detail4__list
			.swiper-container.dnn-project-detail4__list__slide
				.swiper-wrapper
					-for(i=8; i<11; i++)
						.swiper-slide
							.dnn-project-detail4__list__slide__item
								.dnn-project-detail4__list__slide__item__img
									a(href="chi-tiet-du-an.html")
										img(src="./assets/images/project/project-detail/project-detail-"+i+".png" alt="")
								.dnn-project-detail4__list__slide__item__description
									.dnn-project-detail4__list__slide__item__description__title
										a(href="chi-tiet-du-an.html")
											|Khu đô thị Phú Lương
									.dnn-project-detail4__list__slide__item__description__content.lcl.lcl-3
										p Đúc Nam Ninh vinh hạnh được chủ đầu tư khu đô thị Phú Lương ký kết hợp đồng cung cấp toàn bộ nắp hố ga cho dự án, với quy mô 36,03 ha, thuộc phạm vi các phường Phú Lương, Kiến Hưng, phường Phú La thành phố Hà Đông. Với phương châm chất lượng sản phẩm chính là tiêu chí hàng đầu, Công ty TNHH Đúc Nam Ninh đã đáp ứng được toàn bộ hạng mục cho dự án.
										p Với định hướng trở thành khu đô thị đáng sống bậc nhất quận Hà Đông nói riêng và Hà Nội nói chung, dự án Phú Lương được quy hoạch tập trung và phát triển đồng bộ hạ tầng, tạo môi trường sống đẳng cấp, tiện nghi cho cư dân tương lai của KĐT mới Phú Lương
									.dnn-project-detail4__list__slide__item__description__read-more
										a(href="")
											span Xem chi tiết
			.swiper-button-next
			.swiper-button-prev