section.section.dnn-project-detail3
	.container
		.block-title
			h1 sản phẩm đã cung cấp
		.dnn-project-detail3__slide
			.swiper-container.dnn-project-detail3__slide__product
				.swiper-wrapper
					.swiper-slide
						.row
							.col-xl-6.col-md-6
								.dnn-project-detail3__slide__product__img
									img(src="./assets/images/project/project-detail/project-detail-7.png" alt="")
							.col-xl-6.col-md-6
								.dnn-project-detail3__slide__product__desc
									a(href="") Nắp hố gas C - 125
									p Nắp hố gas C - 125 có tải trọng tương đương với nắp hố ga bằng gang, đều được sản xuất theo tiêu chuẩn Châu Âu EN 124 có thể đạt cấp độ 40 tấn. Nắp hố ga composite ít gây ra tiếng ồn hơn so với gang.
									ul
										li
											em.ri-collage-fill
											|Quy mô: 36.03ha
										li
											em.ri-stack-fill
											|Số lượng: 1000 cái
			.swiper-button-prev
			.swiper-button-next
