extends _components/_layout/_layout.pug

block var
	- let title = 'Chi tiết sản phẩm';
	- let bodyClass = 'product-detail-page';
	- let titlePosition = ['Chi tiet san pham'];
block banner,breadcrumb
block main
	include ./_components/_layout/_breadcrumb.pug
	include ./_components/san-pham/sp-chitiet/detail-1.pug
	include ./_components/san-pham/sp-chitiet/detail-2.pug
	include ./_components/san-pham/sp-chitiet/detail-3.pug
	include ./_components/san-pham/sp-chitiet/detail-4.pug
block scripts
