extends _components/_layout/_layout.pug

block var
	- let title = 'Chi tiết dự án';
	- let bodyClass = 'detail-project-page';
	- let titlePosition = ['danh sach du an'];
block banner,breadcrumb
block main
	include ./_components/_layout/_breadcrumb.pug
	include ./_components/du-an/chi-tiet-du-an/detail-project-1.pug
	include ./_components/du-an/chi-tiet-du-an/detail-project-2.pug
	include ./_components/du-an/chi-tiet-du-an/detail-project-3.pug
	include ./_components/du-an/chi-tiet-du-an/detail-project-4.pug
block scripts
