extends _components/_layout/_layout.pug

block var
	- let title = 'DỰ ÁN';
	- let bodyClass = 'project-page';
	- let titlePosition = ['du an'];
block banner,breadcrumb

block main
	include ./_components/du-an/list-du-an/project-banner.pug
	include ./_components/_layout/_breadcrumb.pug
	include ./_components/du-an/list-du-an/project-list.pug
block scripts