extends _components/_layout/_layout.pug

block var
	- let title = 'Đối tác';
	- let bodyClass = 'partner-page';
	- let titlePosition = ['Doi tac'];
block banner,breadcrumb

block main
	include ./_components/doi-tac/doi-tac-1.pug
	include ./_components/_layout/_breadcrumb.pug
	include ./_components/doi-tac/doi-tac-2.pug
block scripts