extends _components/_layout/_layout.pug

block var
	- let title = 'LĨNH VỰC HOẠT ĐỘNG';
	- let bodyClass = 'field-page';
	- let titlePosition = ['Linh vuc hoat dong'];
block banner,breadcrumb
block main
	include ./_components/linh-vuc-hd/field-banner.pug
	include ./_components/_layout/_breadcrumb.pug
	include ./_components/linh-vuc-hd/field-list.pug
block scripts