.dnn-detail1 {
	background-color: #f5f5f5;

	&__content {
		padding-top: 40px;

		&__slide {
			position: relative;
			height: 475px;

			&__gallery-top {
				width: 100%;
				height: 100%;

				.swiper-slide {
					overflow: hidden;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: rgb(255, 255, 255);

					img {
						width: 75%;
					}

					@media(max-width: 991.98px) {
						img {
							width: 50%;
						}
					}
				}

			}
		}

		.product__detail {
			padding: 30px;
			height: 100%;
			background-color: #fff;

			.product__name {
				a {
					font-size: 24px;
					color: rgb(51, 51, 51);
					font-weight: bold;

				}
			}

			.product__price {
				padding-bottom: 20px;
				border-bottom: solid 1px rgb(225, 225, 225);

				.sale {
					font-size: 22px;
					color: rgb(2, 103, 177);
					text-align: left;
					margin-right: 30px;
				}

				.promotion {
					font-size: 18px;
					color: rgb(153, 153, 153);
					text-decoration: line-through;
					text-align: left;
				}
			}

			.product__desc {
				padding-top: 20px;

				table {
					width: 100%;

					tbody {
						tr {
							td {
								padding-bottom: 15px;

								&:last-child {
									float: right;
								}
							}
						}
					}
				}

				ul {
					padding: 0;
					list-style: none;

					li {
						display: flex;

						p {
							font-size: 16px;
							color: rgb(51, 51, 51);
							width: 127px;
							font-weight: 600;
						}

						span {
							font-size: 16px;
							color: rgb(51, 51, 51);
						}
					}
				}
			}

			.block__btn {
				margin-top: 20px;
			}

			@media(max-width: 991.98px) {
				padding-top: 10px;

				.product__name a {
					font-size: 16px;
				}

				.product__price {
					padding-bottom: 10px;
				}

				.product__price .sale,
				.product__price .promotion {
					font-size: 14px;
				}

				.product__desc {
					padding-top: 10px;

					ul li {
						margin-bottom: 10px;

						p {
							font-size: 14px;
						}

						span {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}