#loading {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	transition: 1s;
	width: 100%;
	height: 100%;
	background: rgb(11, 11, 20);
	font-family: 'Inconsolata', monospace;
	overflow: hidden;

	.wrapper {
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		max-width: 400px;
		height: 400px;
	}

	@mixin arc($pos, $mg, $tp, $rg, $bt, $lf, $wd, $hg, $br, $btp, $brl, $anim) {
		position: $pos;
		margin: $mg;
		top: $tp;
		right: $rg;
		bottom: $bt;
		left: $lf;
		width: $wd;
		height: $hg;
		border-radius: $br;
		border-top: $btp;
		border-left: $brl;
		border-right: $brl;
		animation: $anim;
	}

	.arc {
		@include arc(absolute, auto, 0, 0, 0, 0, 100px, 100px, 50%, 2px solid rgb(255, 234, 41), 1px solid transparent, rt 2s infinite linear);

		&::before {
			@include arc(absolute, auto, 0, 0, 0, 0, 70px, 70px, 50%, 2px solid rgb(141, 41, 255), 1px solid transparent, rt 4s infinite linear reverse);
			content: "";
		}

		&::after {
			@include arc(absolute, auto, 0, 0, 0, 0, 0, 0, 50%, initial, initial, cw 1s infinite);
			content: "";
			background: rgb(255, 250, 250);
		}
	}
}

h1 {
	position: absolute;
	margin: auto;
	top: 200px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 85px;
	height: 40px;
	text-transform: uppercase;
	text-align: left;
	text-shadow: 0 0 20px crimson;
	letter-spacing: 0.1em;
	font-size: 14px;
	font-weight: lighter;
	color: crimson;

	span {
		display: none;
	}

	&::after {
		animation: txt 1s infinite;
		content: "";
	}
}

@keyframes rt {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes cw {
	0% {
		width: 0;
		height: 0;
	}

	75% {
		width: 40px;
		height: 40px;
	}

	100% {
		width: 0;
		height: 0;
	}
}

@keyframes load {
	0% {
		left: -100px;
	}

	100% {
		left: 220px;
	}
}

@keyframes txt {
	0% {
		content: "LOADING";
	}

	35% {
		content: "LOADING.";
	}

	65% {
		content: "LOADING..";
	}

	100% {
		content: "LOADING...";
	}
}