<!-- Thông điệp -->
section.dnn-home1.section#dnn-home1
	.container-fluid
		.row
			.col-xl-6.col-md-6.dnn-home1__left
				.dnn-home1__left__img
					img(src="./assets/images/home/home-1.png" alt="")
			.col-xl-6.col-md-6.dnn-home1__right
				.dnn-home1__right__content
					.block-title
						h1 Thông điệp CEO
					.dnn-home1__right__content__desc
						p Đúc Nam Ninh luôn trân trọng giá trị nền tảng cho sự phát triển, đó là cơ hội được hợp tác với Quý khách hàng. Và sẽ không có bất kỳ khó khăn nào có thể ngăn cản chúng tôi mang lại những sản phẩm chất lượng số một cho quí khách hàng. Chúng tôi tin tưởng rằng với tập thể đoàn kết, vững mạnh và sự ủng hộ của Quý khách hàng, chúng tôi chắc chắn sẽ gặt hái được nhiều thành công hơn nữa trong tương lai.

					a.btn.btn__new(href="")
						span xem thêm
							em.ri-arrow-right-line
