<!-- Giới thiệu -->
section.dnn-home2.section
	.container-fluid
		.row
			.col-xl-6.col-md-6.dnn-home2__left
				.dnn-home2__left__content
					.block-title
						h1 Giới thiệu
					.dnn-home2__left__content__desc
						p Chất lượng sản phẩm” chính là tôn chỉ và tiêu chí để Công ty TNHH Đúc Nam Ninh phát triển. Trong thời gian sắp tới với nhiều thách thức và cơ hội, Công ty TNHH Đúc Nam Ninh sẽ không ngừng nâng cao chất lượng phục vụ khách hàng, nâng cao năng lực cạnh tranh, cải tiến qui trình quản lý theo phương châm “Không ngừng học hỏi, sáng tạo”.
					a.btn.btn__new(href="")
						span xem thêm
							em.ri-arrow-right-line
			.col-xl-6.col-md-6.dnn-home2__right
				.dnn-home2__right__img
					img(src="./assets/images/home/home-2.png", alt="")