<!-- Lĩnh vực hoạt động -->
section.dnn-home4.section
	.container
		.dnn-home4__content
			.block-title
				h1 Lĩnh vực hoạt động
			.row
				.col-xl-4.col-md-12
					.row
						.col-xl-12.col-sm-6
							.dnn-home4__content__img
								.dnn-home4__content__img__small
									img(src="./assets/images/home/home-3.png", alt="")
								.dnn-home4__content__img__desc
									a(href="") Gia công cơ khí
						.col-xl-12.col-sm-6
							.dnn-home4__content__img
								.dnn-home4__content__img__small
									img(src="./assets/images/home/home-4.png", alt="")
								.dnn-home4__content__img__desc
									a(href="") Đúc kim loại
				.col-xl-4.col-md-6.col-sm-6
					.dnn-home4__content__img
						.dnn-home4__content__img__big
							img(src="./assets/images/home/home-5.png", alt="")
						.dnn-home4__content__img__desc
							a(href="") Thiết kế, chế tạo khuôn mẫu
				.col-xl-4.col-md-6.col-sm-6
					.row
						.col-xl-12
							.dnn-home4__content__img
								.dnn-home4__content__img__small
									img(src="./assets/images/home/home-6.png", alt="")
								.dnn-home4__content__img__desc
									a(href="") Rèn, dập, cán kim loại
						.col-xl-12
							.dnn-home4__content__img
								.dnn-home4__content__img__small
									img(src="./assets/images/home/home-7.png", alt="")
								.dnn-home4__content__img__desc
									a(href="") Sản xuất lõi khuôn đúc