<!-- Chọn đúc nam ninh -->
section.dnn-home5.section
	.container
		.dnn-home5__content
			.block-title
				h1 Tại sao chọn Đúc Nam Ninh
			.row
				.col-xl-2.col-md-4.col-sm-6
					.dnn-home5__content__item
						.dnn-home5__content__item__img
							img(src="./assets/icons/ratio.png", alt="")
						.dnn-home5__content__item__desc
							p Các sản phẩm Đúc với 
								strong tỉ lệ hoàn hảo
				.col-xl-2.col-md-4.col-sm-6
					.dnn-home5__content__item
						.dnn-home5__content__item__img
							img(src="./assets/icons/analysis.png", alt="")
						.dnn-home5__content__item__desc
							p Có thể 
								strong cạnh tranh về 
								| giá so với Trung Quốc
				.col-xl-2.col-md-4.col-sm-6
					.dnn-home5__content__item
						.dnn-home5__content__item__img
							img(src="./assets/icons/export.png", alt="")
						.dnn-home5__content__item__desc
							p Các sản phẩm đều đang được 
								strong xuất khẩu 
								|sang những thị trường khó tính như Nhật và Hàn Quốc
				.col-xl-2.col-md-4.col-sm-6
					.dnn-home5__content__item
						.dnn-home5__content__item__img
							img(src="./assets/icons/europe.png", alt="")
						.dnn-home5__content__item__desc
							p Công ty cũng đang làm việc với các công ty tập đoàn tới từ 
								strong Châu Âu
				.col-xl-2.col-md-4.col-sm-6
					.dnn-home5__content__item
						.dnn-home5__content__item__img
							img(src="./assets/icons/medal.png", alt="")
						.dnn-home5__content__item__desc
							p Có 
							strong chất lượng và giá 
								| tốt nhất
				.col-xl-2.col-md-4.col-sm-6
					.dnn-home5__content__item
						.dnn-home5__content__item__img
							img(src="./assets/icons/radar.png", alt="")
						.dnn-home5__content__item__desc
							p Tiếp tục mở rộng thêm 1 nhà máy tự động hoá 
								strong 23.000m2 
								| tại khu công nghiệp 
