<!-- Chọn đúc nam ninh -->
section.dnn-home5.section
	.container
		.dnn-home5__content
			.block-title
				h1 Tại sao chọn Đúc Nam Ninh
			.row
				.col-xl-2.col-md-2
					.dnn-home5__content__item
						figure
							img(src="./assets/icons/ratio.png", alt="")
							figcaption
								p Các sản phẩm Đúc với tỉ lệ hoàn hảo
				.col-xl-2.col-md-2
					.dnn-home5__content__item
						figure
							img(src="./assets/icons/analysis.png", alt="")
							figcaption
								p Có thể cạnh tranh về giá so với Trung Quốc
				.col-xl-2.col-md-2
					.dnn-home5__content__item
						figure
							img(src="./assets/icons/export.png", alt="")
							figcaption
								p Các sản phẩm đều đang được xuất khẩu sang những thị trường khó tính như Nhật và Hàn Quốc
				.col-xl-2.col-md-2
					.dnn-home5__content__item
						figure
							img(src="./assets/icons/europe.png", alt="")
							figcaption
								p Công ty cũng đang làm việc với các công ty tập đoàn tới từ Châu Âu
				.col-xl-2.col-md-2
					.dnn-home5__content__item
						figure
							img(src="./assets/icons/medal.png", alt="")
							figcaption
								p Có chất lượng và giá tốt nhất
				.col-xl-2.col-md-2
					.dnn-home5__content__item
						figure
							img(src="./assets/icons/radar.png", alt="")
							figcaption
								p Tiếp tục mở rộng thêm 1 nhà máy tự động hoá 23.000m2 tại khu công nghiệp 
