<!-- Tin Tức -->
section.dnn-home6.section
	.container
		.dnn-home6__content
			.block-title
				h1 Tin tức
			.row
				.col-xl-6.col-md-12.dnn-home6__content__left
					.dnn-home6__content__left__img
						img(src="./assets/images/home/home-8.png", alt="")
					.dnn-home6__content__left__desc
						.dnn-home6__content__left__desc__date
							span.material-icons event_note
							.date 01.04.2020
						.dnn-home6__content__left__desc__title
							a(href="") Ưu và nhược điểm công nghệ đúc trong khuôn kim loại
				.col-xl-6.col-md-12.dnn-home6__content__right
					ul.dnn-home6__content__right__list
						li.dnn-home6__content__right__list__item
							.dnn-home6__content__right__list__item__date
								span.material-icons event_note
								.date 01.04.2020
							.dnn-home6__content__right__list__item__title
								a(href="") Các loại khuôn đúc kim loại. Cần thiết và phổ biến trong công nghiệp
						li.dnn-home6__content__right__list__item
							.dnn-home6__content__right__list__item__date
								span.material-icons event_note
								.date 01.04.2020
							.dnn-home6__content__right__list__item__title
								a(href="") Tìm hiểu kỹ thuật đúc nhôm
						li.dnn-home6__content__right__list__item
							.dnn-home6__content__right__list__item__date
								span.material-icons event_note
								.date 01.04.2020
							.dnn-home6__content__right__list__item__title
								a(href="") Làm khuôn kim loại giá rẻ nhưng chất lượng – tại sao không?
						li.dnn-home6__content__right__list__item
							.dnn-home6__content__right__list__item__date
								span.material-icons event_note
								.date 01.04.2020
							.dnn-home6__content__right__list__item__title
								a(href="") Tìm hiểu về Khuôn dập & Khuôn đúc
						li.dnn-home6__content__right__list__item
							.dnn-home6__content__right__list__item__date
								span.material-icons event_note
								.date 01.04.2020
							.dnn-home6__content__right__list__item__title
								a(href="") Các loại khuôn – Khuôn dập & Khuôn đúc
				.dnn-home6__content__btn
					a.btn.btn__new(href="")
						span xem thêm
							em.ri-arrow-right-line
