<!-- Đối tác khách hàng -->
section.dnn-home7.section
	.container
		.row
			.col-xl-3.col-md-3
				.block-title
					h1 Đối tác - khách hàng tiêu biểu
			.col-xl-9.col-md-9
				.row
					.col-xl-3.col-md-3
						.dnn-home7__item
							img(src="/assets/images/home/logo/doi-tac-1.png", alt="")
					.col-xl-3.col-md-3
						.dnn-home7__item
							img(src="/assets/images/home/logo/doi-tac-2.png", alt="")
					.col-xl-3.col-md-3
						.dnn-home7__item
							img(src="/assets/images/home/logo/doi-tac-3.png", alt="")
					.col-xl-3.col-md-3
						.dnn-home7__item
							img(src="/assets/images/home/logo/doi-tac-4.png", alt="")