<!-- Đối tác khách hàng -->
section.dnn-home7.section
	.container
		.row
			.col-xl-3.col-md-4
				.block-title
					h1 Đối tác - khách hàng tiêu biểu
			.col-xl-9.col-md-8
				.row
					.col-xl-3.col-md-6.col-sm-6
						.dnn-home7__item
							img(src="./assets/images/home/doi-tac-1.png", alt="")
					.col-xl-3.col-md-6.col-sm-6
						.dnn-home7__item
							img(src="./assets/images/home/doi-tac-2.png", alt="")
					.col-xl-3.col-md-6.col-sm-6
						.dnn-home7__item
							img(src="./assets/images/home/doi-tac-3.png", alt="")
					.col-xl-3.col-md-6.col-sm-6
						.dnn-home7__item
							img(src="./assets/images/home/doi-tac-4.png", alt="")