section.dnn-home8.section
	.container
		.dnn-home8__content
			.row
				.col-xl-4.col-md-6
					.dnn-home8__content__img
						img(src="./assets/images/home/doi-tac-5.png", alt="")
				.col-xl-8.col-md-6
					.dnn-home8__content__desc
						.simple 
							span “
						span Chúng tôi xin gửi lời cám ơn tới Quý công ty đã hợp tác và đóng góp cho thành công của công ty BJSTEEL VIET NAM trong suốt thời gian vừa qua.
					.dnn-home8__content__desc__supdesc
						p Ông Lee Min Ho
						p Giám Đốc điều hành BJSTEEL VIET NAM
